.app.dark {
    --bg-color: rgb(2, 2, 63);
    --inverted-bg-color: rgb(208, 231, 197);

    --primary-color: rgb(98, 129, 14);
    --secondary-color: rgb(42, 219, 42);
    --inverted-primary-color: rgb(20, 35, 170);
    --inverted-secondary-color: rgb(78, 123, 247);
}
